* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	line-height: 1.5;
	font-family:Arial, sans-serif;
	font-size:16px;
}
.container {
	width:90%;
	height:400px;
	margin:0 auto;
}
.start,
.quiz,
.answer,
.results {
	width:100%;
	text-align:center;
}
label {
	float:left;
	width:100%;
}
.button {
	background-color:red;
	color:white;
}
.inactive {
	display:none;
}
.active {
	display:inline-block;
}